
<div ng-include="'/app/views/_common/nav.html'"></div>
<section ng-controller="PropertyDetailController" class="slice sct-color-1 border-bottom">
    <div class="container no-padding">
        <div class="row row-no-padding">
            <div class="col-lg-6 order-lg-1">
                <div class="swiper-js-container background-image-holder">
                    <div class="swiper-container" data-swiper-items="1" data-swiper-effect="coverflow" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide" ng-repeat="image in propertyImages">
                                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover same-height" data-same-height="#div_properties_search" style="background-image: url(media/{{image.MediaId}}/{{image.Name}}); background-position: bottom bottom;">
                                   
                                </div>
                            </div>
                           
                        </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button--hover swiper-button-next"></div>
                        <div class="swiper-button--hover swiper-button-prev"></div>
                    </div>
                </div>
            </div>
           
                <div class="col-lg-5 ml-lg-auto order-2">
            
                    <div class="animate-on-scroll fadeIn" data-wow-delay="1s">
                        <h3 class="heading heading-3 text-uppercase strong-600 mt-3">
                            {{property.Location}}
                        </h3>
                        
                        <p class="mt-4">
                               {{property.Description}}
                        </p>
                        <h2 class="heading heading-2 strong-600 c-base-1 mt-2">
                           
                            Shs. {{property.PropertyFee |number}}
                        </h2>
                        <div class="btn-container mt-4">
                            <a href="#" class="btn btn-styled btn-base-1 btn-circle btn-icon-left" data-scroll-to="#scrollToSection">
                                <i class="icon ion-android-cart"></i> {{property.PropertyTypeName}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="slice sct-color-1" id="scrollToSection" ng-controller="LatestPropertyController">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Latest properties</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking Houses in no time.
        </div>
        <span class="space-xs-md"></span>
        <div class="row-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12" ng-repeat="property in latestProperties">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#/properties/view/{{property.PropertyId}}/{{property.MediaFolderId}}">

                                    <img src="media/{{property.MediaForView.MediaId}}/{{property.MediaForView.Name}}" alt="{{property.Media.Name}}">

                                </a>
                            </div>
                          <span ng-if="property.PropertyTypeName === 'ForRent'" class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For Rent</span>

                             <span ng-if="property.PropertyTypeName === 'ForSale'" class="block-ribbon block-ribbon-fixed block-ribbon-right bg-yellow">For sale</span>
                           
                        </div>
                       
                        <div class="block-footer border-top py-3">
                            <div class="row align-items-center">
                                <div class="col-12">
                                    <span class="block-price">Shs.{{property.PropertyFee|number}}</span>
                                    <span class="block-price-text"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
          
        </div>
    </div>
</section>


<!--<section class="slice sct-color-2 border-top border-bottom" ng-controller="FeaturedPropertyController">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-1">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Featured properties</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking websites in no time using our theme.
        </div>
        <span class="space-xs-lg"></span>
        <div class="swiper-js-container" >
            <div class="swiper-container" data-swiper-autoplay="true" data-swiper-items="4" data-swiper-space-between="30" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                <div class="swiper-wrapper mb-5" >
                    <div class="swiper-slide" ng-repeat="featuredProperty in featuredProperties" data-swiper-autoplay="5000">
                        <div class="block block--style-3">
                            <div class="block-image relative">
                                <div class="view view-first">
                                    <a href="#">
                                        <img src="media/{{featuredProperty.MediaForView.MediaId}}/{{featuredProperty.MediaForView.Name}}" alt="{{featuredProperty.Media.Name}}" class="img-responsive">

                                    </a>
                                </div>
                                <span ng-show="{{featuredProperty.PropertyTypeName}} == ForSale" class="block-ribbon block-ribbon-fixed block-ribbon-right bg-yellow">For sale</span>
                                <span ng-show="{{featuredProperty.PropertyTypeName}} == ForRent" class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For Rent</span>
                                <span class="block-price-over bg-base-4">Shs.{{featuredProperty.PropertyFee}}</span>
                            </div>
                           

                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>-->

<div ng-include="'/app/views/_common/footer.html'"></div>