<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="BundleTable.EnableOptimizations" value="false" />

  <add key="forgotPasswordEmail" value="~/email-templates/ForgotPassword.html" />
  <add key="forgotPassword_email_subject" value="SMW - Forgot password notification" />
  <add key="EmailAddressFrom" value="no-reply@smw.com" />
  <add key="EmailAddressFromLabel" value="SMW" />
  <add key="Password_Reset_Email_Subject" value="Password reset -SMW"/>
 
  <add key="EmailAddressTo" value="smw@gmail.com" />
  <add key="no-reply-email" value="no-reply@smw.com"/>
  <add key="query_email_subject" value="Web Query" />
  <add key="comment_email_subject" value="Comment of Project" />
  <add key="CommentAsEmail"  value="F:\GitHub\Higgz\Eng\SMW_New\SMW\SMW\SMW.Admin\email-templates\comment.html"/>


  <add key="MediaFolder" value="F:\GitHub\Higgz\Eng\SMW_New\SMW\SMW\Media" />
  <add key="TempFolder" value="F:\GitHub\Higgz\Eng\SMW_New\SMW\SMW\Media" />

  <add key="OnGoingStatusId" value="1"/>
  <add key="CompletedStatusId" value="2"/>

  <add key="UserRoleId" value="6359ec25-0be2-4171-8ca2-f71f8ba90eee"/>
</appSettings>
