<connectionStrings>
  
  <add name="DefaultConnection" connectionString="Data Source=JP-PC;Initial Catalog=SMW;User Id=sa;Password=dgt76yh;" providerName="System.Data.SqlClient" />

  <add name="SMWEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JP-PC;initial catalog=SMW;user id=sa;password=dgt76yh;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>