@{
    ViewBag.Title = "OurServices";
}

                    <!-- PAGE TITLE -->
<section class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/backgrounds/slider/service.jpg') center center;background-size: 1300px 600px;">
    <span class="mask mask-dark--style-2"></span>
    <div class="container relative">
        <div class="row">
            <div class="col-lg-6">
                <div class="py-5">
                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                        Our services
                    </h1>
                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                        We put all the experience and know-how in our work so we can offer you the best we have ever done.
                    </p>
                    <span class="space-xs-lg"></span>
                    <div class="btn-container">
                        <a href="/Home/ServiceDetail" class="btn btn-styled btn-base-5">Our services</a>
                        <a href="/Home/ServiceDetail" class="btn btn-styled btn-base-5 btn-outline">Meet the team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice-lg sct-color-1">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-2 strong-500">
                What we do
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm text-center">
            <p class="text-lg c-gray-light">Start building fast, beautiful and modern Houses.</p>
        </div>
        <span class="space-xs-xl"></span>
        <div class="row cols-xs-space cols-sm-space cols-md-space mb-3">
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">Web Design &amp; Development</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">Branding &amp; Consulting</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">SEO &amp; Promoting</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cols-xs-space cols-sm-space cols-md-space mt-3">
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-1.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">Web Design &amp; Development</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-2.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">Branding &amp; Consulting</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="block-image relative">
                        <div class="view view-first">
                            <a href="/Home/ServiceDetail">
                                <img src="../../assets/images/prv/news/creative/img-3.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="block-body">
                        <h3 class="heading heading-6 strong-600">
                            <a href="">SEO &amp; Promoting</a>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur elit.
                        </p>
                        <a href="/Home/ServiceDetail" class="link link-sm link--style-2 mt-3">
                            <i class="fa fa-long-arrow-right"></i> Learn more
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




