@{
    ViewBag.Title = "Service Detail";
}

<section class="slice-lg slice--offset-top bg-base-1" style="background: url(../../assets/images/patterns/pattern-3.png) repeat">
    <span class="mask mask-base-1--style-2"></span>
    <div class="container sct-inner">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <div class="py-5 text-center text-md-left">
                    <h1 class="heading heading-1 c-white strong-400 text-normal">
                        Built for your company.
                    </h1>
                    <span class="clearfix"></span>
                    <p class="lead strong-300 c-gray-lighter mt-4">
                        Start building fast, beautiful and modern looking websites in no time using our theme.
                    </p>
                    <div class="btn-container mt-5">
                        <a href="https://www.youtube.com/watch?v=zodT9bCdIiI" class="link link-sm link--style-4" data-fancybox>
                            <i class="fa fa-play"></i> Watch the introduction
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sct-color-2 border-top">
    <div class="container">
        <div class="row row-no-padding align-items-center cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-6">
                <img src="../../assets/images/prv/services/img-process-1.jpg" class="img-fluid img-center">
            </div>
            <div class="col-lg-5">
                <div class="col-wrapper--text text-center text-lg-left">
                    <h3 class="heading heading-2 strong-500 text-normal">
                        Planning stage
                    </h3>
                    <p class="lead mt-4">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua quisque congue augue rutrum.
                    </p>
                    <p class="lead mt-4">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua quisque congue augue rutrum.
                    </p>
                </div>
            </div>
        </div>
    </div>
        
</section>
<section class="sct-color-1">
    <div class="container">
        <div class="row row-no-padding align-items-center">
            <div class="col-lg-6 order-lg-2">
                <img src="../../assets/images/prv/services/img-process-2.jpg" class="img-fluid img-center">
            </div>
            <div class="col-lg-5 ml-lg-auto order-lg-1">
                <div class="col-wrapper--text text-center text-lg-left">
                    <h3 class="heading heading-2 strong-500 text-normal">
                        Requirements analysis
                    </h3>
                    <p class="lead mt-4">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua quisque congue augue rutrum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>
<section class="sct-color-2">
    <div class="container">
        <div class="row row-no-padding align-items-center">
            <div class="col-lg-6">
                <img src="../../assets/images/prv/services/img-process-3.jpg" class="img-fluid img-center">
            </div>
            <div class="col-lg-5">
                <div class="col-wrapper--text text-center text-lg-left">
                    <h3 class="heading heading-2 strong-500 text-normal">
                        Wireframe and design
                    </h3>
                    <p class="lead mt-4">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore dolore magna aliqua quisque congue augue rutrum.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</section>
