
<div ng-include="'/app/views/_common/nav.html'"></div>

<!-- PAGE TITLE -->
<section class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/backgrounds/slider/img-49.jpg') center center;background-size: 1300px 600px;">
    <span class="mask mask-dark--style-2"></span>
    <div class="container relative">
        <div class="row">
            <div class="col-lg-6">
                <div class="py-5">
                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                        partners
                        
                    </h1>
                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                        We value our esteemed partners.
                    </p>
                    <span class="space-xs-lg"></span>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice-lg sct-color-1">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-2 strong-500">
               Partners
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        
        <div class="col-lg-12">
            <h4 class="heading heading-3 strong-400 font-custom-4 mt-3">
                Construction Partners     </h4>
            <p class="text-lg line-height-1_8 c-gray-light">
                No two construction projects are alike, but the one element common to each is a foundation of trust. Our clients need a partner they can count on — one who will work closely with them to achieve not just their construction goals, but also broader relationship and commitment. Our recipe for success starts with better planning, a solid strategy and committed, excellent and reliable team. From there on, we collaborate and learn from each other — leveraging the core skills, knowledge and contribution of each other - SMW and clients. It’s therefore important to us that we get it right the first time — not just during construction, but from the planning stage through to completion and beyond.
              </p>
            <p class="text-lg line-height-1_8 c-gray-light">
                We have a diversity of clients ranging from clients wanting to put up a simple domestic structures to multi storey buildings.
              </p>

           


        </div>

        <div class="col-lg-12">
            <h4 class="heading heading-3 strong-400 font-custom-4 mt-3">
                Manufacturer Partners
            </h4>
            <p class="text-lg line-height-1_8 c-gray-light">
                MUTEC boasts of a wide market stretching as far as Tanzania, Rwanda, Kenya, Sudan, DR Congo and across the country. MUTEC now boasts of a wide market stretching as far as Masaka, Masindi, Jinja, Arua, Mbarara and recently DRC Congo and Burundi.
              </p>
            <p class="text-lg line-height-1_8 c-gray-light">
                MUTEC is proud to be associated with the world’s major building and civil works engineering companies such as;
              </p>

        </div>

      
        <section class="slice sct-color-1">
            <div class="container">
                <div class="section-title section-title--style-1 text-center">
                    <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                        <span>Our partners</span>
                    </h3>
                    <span class="section-title-delimiter clearfix d-none"></span>
                </div>
                <span class="clearfix"></span>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">

                                    <img src="../../assets/images/prv/clients/building.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/clients/roko.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/clients/gauff.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>

                   

                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/clients/energo.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/clients/sino.png" alt="">
                                   
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-6">
                        <div class="client-logo client-logo--style-4">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/clients/MPX.gif" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
     
        <section class="slice sct-color-2 border-top border-bottom">
            <div class="container">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-6">
                        <div class="card ">
                            <div class="card-header">
                                Other Valued Partners
                            </div>


                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">National Water and Sewarage Coperation</li>
                                <li class="list-group-item">China Civil Engineering & Construction Corporation</li>
                                <li class="list-group-item">Mulowooza & Brothers Ltd</li>
                                <li class="list-group-item">BERCO-Bukavu D.R.C</li>
                                <li class="list-group-item"> Mugoya Construction & Engineering Ltd</li>
                                <li class="list-group-item">District Administrations/Councils</li>
                                <li class="list-group-item"> CRS Sudan</li>
                                <li class="list-group-item">DOTT SERVICES LIMITED </li>
                                <li class="list-group-item"> S.E.B Construction Ltd</li>

                                <li class="list-group-item">AND MANY OTHER VALUED CUSTOMERS</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

        </section>


    </div>
</section>


<div ng-include="'/app/views/_common/footer.html'"></div>



