<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="BundleTable.EnableOptimizations" value="false" />

  <add key="forgotPasswordEmail" value="~/email-templates/ForgotPassword.html" />
  <add key="forgotPassword_email_subject" value="SMW - Forgot password notification" />
  <add key="EmailAddressFrom" value="no-reply@SMW.com" />
  <add key="EmailAddressFromLabel" value="SMW" />
  <add key="Password_Reset_Email_Subject" value="Password reset - SMW"/>
  <!--<add key="PassPhrase" value="k$$" />-->
</appSettings>


