
<div ng-include="'/app/views/_common/nav.html'"></div>



<section class="sct-color-1">
    <div class="container-fluid no-padding">
        <div class="row row-no-padding">
          
            <div class="col-lg-12">
                <div class="swiper-js-container background-image-holder">
                    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="coverflow" data-swiper-items="1" data-swiper-space-between="0">
                        <div class="swiper-wrapper">
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="8000">
                                <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/design/design6.jpg') center center;background-size: 1300px 600px;">

                                    <span class="mask mask-dark--style-2"></span>


                                    <div class="container relative">
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                <div class="py-5">
                                                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                                                        We design with love and<br>passion.
                                                    </h1>
                                                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    </p>
                                                    <span class="space-xs-lg"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="8000">
                                <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/design/design3.jpg') center center;background-size: 1300px 600px;">
                                    <span class="mask mask-dark--style-2"></span>


                                    <div class="container relative">
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                <div class="py-5">
                                                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                                                        We design with love and<br>passion.
                                                    </h1>
                                                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    </p>
                                                    <span class="space-xs-lg"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="8000">
                                <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/design/design2.jpg') center center;background-size: 1300px 600px;">

                                    <span class="mask mask-dark--style-2"></span>

                                    <div class="container relative">
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                <div class="py-5">
                                                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                                                        We design with love and<br>passion.
                                                    </h1>
                                                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    </p>
                                                    <span class="space-xs-lg"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Slide -->
                            <div class="swiper-slide" data-swiper-autoplay="8000">
                                <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/design/design4.jpg') center center;background-size: 1300px 600px;">

                                    <span class="mask mask-dark--style-2"></span>


                                    <div class="container relative">
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                <div class="py-5">
                                                    <h1 class="heading heading-xl strong-600 text-normal c-white">
                                                        We design with love and<br>passion.
                                                    </h1>
                                                    <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                    </p>
                                                    <span class="space-xs-lg"></span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        

                        <!-- Slide -->
                        <div class="swiper-slide" data-swiper-autoplay="8000">
                            <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/design/design.jpg') center center;background-size: 1300px 600px;">

                                <span class="mask mask-dark--style-2"></span>


                                <div class="container relative">
                                    <div class="row text-center">
                                        <div class="col-lg-12">
                                            <div class="py-5">
                                                <h1 class="heading heading-xl strong-600 text-normal c-white">
                                                    We design with love and<br>passion.
                                                </h1>
                                                <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                    &nbsp;
                                                    &nbsp;
                                                    &nbsp;
                                                </p>
                                                <span class="space-xs-lg"></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!-- Add Arrows -->
                        <div class="swiper-button swiper-button-next"></div>
                        <div class="swiper-button swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice-lg sct-color-1">
    <div class="container">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-2 strong-500">
                Design
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <!--<div class="fluid-paragraph fluid-paragraph-sm text-center">
            <p class="text-lg c-gray-light">We repair, collect Rent.</p>
        </div>-->
        <div class="col-lg-12">
            <h4 class="heading heading-3 strong-400 font-custom-4 mt-3">
                Our motivation is to change the way the world sees you by creating your dream home. It’s one thing to create stunning design; it’s truly exceptional design that engages the end user and creates a response.
            </h4>
            <p class="text-lg line-height-1_8 c-gray-light">
                For our client; we make sure we understand and we deliver affective solutions. Our minds are as sharp as they are passionate. One conversation can lead to many possibilities. </p>
            <p class="text-lg line-height-1_8 c-gray-light">
                SMW provide multi-trade contruction services to new build and refurbishment projects. Our work is focused on the alteration and fit out of existing buildings as well as carrying out new build and extension projects direct for the client.    </p>

            <p class="text-lg line-height-1_8 c-gray-light">
                We specialise in working closely with the client to take any project through from design conception to completion, advising at every stage on cost viability, alternative construction, finishing methods, and always mindful of the overall programme.  </p>

            <p class="text-lg line-height-1_8 c-gray-light">
                We are keen to involve all parties on projects as early as possible.
               </p>


        </div>

        <section class="slice sct-color-2 border-top border-bottom">
            <div class="container">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-lg-6">
                        <div class="card ">
                            <div class="card-header">
                                SMW offers a range of services which include
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Planning</li>
                                <li class="list-group-item">Architectural design</li>
                                <li class="list-group-item">Structural design</li>
                                <li class="list-group-item">Mechanical & electrical works</li>
                                <li class="list-group-item">All types of roofing</li>
                                <li class="list-group-item">Decorations</li>
                                <li class="list-group-item">Landscaping & gardening</li>
                                <li class="list-group-item">Specialist finishings</li>
                                <li class="list-group-item">After sales service and maintenance</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-6 animate-on-scroll fadeInUp">
                        <div class="card-header">
                            Some of the architectural designs
                        </div>
                        <div class="card ">
                            <div class="card-image">
                               
                                    <img src="../../assets/images/prv/architecture/architecture.jpg" alt="">
                                    
                               
                            </div>
                            
                        </div>
                        <span class="space-xs-lg"></span>
                        <div class="card ">
                            <div class="card-image">
                              
                                    
                                    <img src="../../assets/images/prv/architecture/design.jpg" alt="">
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <span class="space-xs-xl"></span>
        <div class="col-lg-12">
           
            <p class="text-lg line-height-1_8 c-gray-light">
                We produce a full set of drawings including specifications for planning and construction using the latest computer aided softwares such as, Revit, Autocad, etc.  </p>
            <p class="text-lg line-height-1_8 c-gray-light">
                We deal with all planning aspects of the project on your behalf, so that you don't have to.   </p>
            <p class="text-lg line-height-1_8 c-gray-light">
                we committed to meeting and exceeding our clients aspirations by delivering the highest quality product.
            </p>

        </div>
        <span class="space-xs-xl"></span>
       
    </div>
</section>


<div ng-include="'/app/views/_common/footer.html'"></div>



