<div ng-include="'/app/views/_common/nav.html'"></div>
<section class="slice-lg slice--offset-top has-bg-cover bg-size-cover" style="background-image: url(../../assets/images/backgrounds/slider/img-52.jpg); background-position: bottom center;">
    <span class="mask mask-dark--style-1"></span>
    <div class="container no-padding">
        <div class="col-md-6">
            <div class="pt-5">
                <h3 class="heading heading-xl strong-500 text-normal c-white">
                    Meet the Team
                </h3>
                <p class="lead text-normal strong-300 c-white mt-3 line-height-1_8">
                    We aim to build the most fashionable and long lasting houses and also give you the right team,tools and designs in order to easily customize your property.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="slice sct-color-1">
    <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-6">
                <div class="block block-image-holder">
                    <div class="block-image">
                       
                        <img src="../../assets/images/team/team1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="px-5 py-5">
                    <h3 class="heading heading-2 strong-500 text-normal mb-2">
                        Sam Sewanyana
                    </h3>
                    <h3 class="heading heading-sm strong-300 text-normal mb-4">
                        Engineer
                    </h3>
                    <p class="text-lg line-height-1_8">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur pellentesque neque eget diam posuere porta.
                    </p>
                    <ul class="social-media social-media--style-1-v4 mt-4">
                        <li>
                            <a href="#" class="facebook" target="_blank" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                
                </div>
            </div>
        </div>
        <span class="space-xs-xl"></span>
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="block block-image-holder">
                    <div class="block-image">
                        <img src="../../assets/images/team/team1.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="px-5 py-5">
                    <h3 class="heading heading-2 strong-500 text-normal mb-2">
                        Norah
                    </h3>
                    <h3 class="heading heading-sm strong-300 text-normal mb-4">
                       Supervisior
                    </h3>
                    <p class="text-lg line-height-1_8">
                        Lorem ipsum dolor sit amet consectetur adipiscing elit curabitur pellentesque neque eget diam posuere porta.
                    </p>
                    <ul class="social-media social-media--style-1-v4 mt-4">
                        <li>
                            <a href="#" class="facebook" target="_blank" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram" target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>

                    </ul>
                 
                </div>
            </div>
        </div>
    </div>
</section>
<span class="space-xs-only-2 space-sm-only-2"></span>

<div ng-include="'/app/views/_common/footer.html'"></div>

