<div class="" ng-controller="HomeController">

    <div ng-include="'/app/views/_common/nav.html'"></div>

    <section class="sct-color-1">
        <div class="container-fluid no-padding">
            <div class="row row-no-padding">
                <div class="col-lg-12">
                    <div class="swiper-js-container background-image-holder"  >
                        <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="coverflow" data-swiper-items="1" data-swiper-space-between="0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" data-swiper-autoplay="6000">
                                    <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/house1.jpg') center center;">
                                        <span class="mask mask-dark--style-2"></span>


                                        <div class="container relative">
                                            <div class="row text-md-left">
                                                <div class="col-lg-12">
                                                    <div class="py-5">
                                                        <h1 class="heading heading-2 strong-600 text-normal c-white">
                                                            Our professional team will take care of your property!
                                                        </h1>
                                                        <p class="lead line-height-1_8 strong-300 c-white mt-3">

                                                        </p>

                                                        <p class="mt-3 c-white">
                                                            Browse through more than 200.000 properties to rent or sell. Contact our Team now!
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <p class="mt-3 c-white">
                                                            <br />
                                                            <br />
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span class="space-xs-lg"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slide -->
                                <div class="swiper-slide" data-swiper-autoplay="6000">
                                    <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/Constuction 2.jpg') center center;">
                                        <span class="mask mask-dark--style-2"></span>
                                      

                                        <div class="container relative">
                                            <div class="row text-md-left">
                                                <div class="col-lg-12">
                                                    <div class="py-5">
                                                        <h1 class="heading heading-2 strong-600 text-normal c-white">
                                                            Our professional team will take care of your property!
                                                        </h1>
                                                        <p class="lead line-height-1_8 strong-300 c-white mt-3">
                                                            
                                                        </p>
                                                       
                                                        <p class="mt-3 c-white">
                                                            Browse through more than 200.000 properties to rent or sell. Contact our Team now!
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <p class="mt-3 c-white">
                                                            <br />
                                                            <br />
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span class="space-xs-lg"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-autoplay="6000">
                                    <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/construction.jpg') center center;">
                                        <span class="mask mask-dark--style-2"></span>


                                        <div class="container relative">
                                            <div class="row text-md-left">
                                                <div class="col-lg-12">
                                                    <div class="py-5">
                                                        <h1 class="heading heading-2 strong-600 text-normal c-white">
                                                            Our professional team will take care of your property!
                                                        </h1>
                                                        <p class="lead line-height-1_8 strong-300 c-white mt-3">

                                                        </p>

                                                        <p class="mt-3 c-white">
                                                            Browse through more than 200.000 properties to rent or sell. Contact our Team now!
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <p class="mt-3 c-white">
                                                            <br />
                                                            <br />
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span class="space-xs-lg"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-autoplay="6000">
                                    <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/Constructionzoom.jpg') center center;">
                                        <span class="mask mask-dark--style-2"></span>


                                        <div class="container relative">
                                            <div class="row text-md-left">
                                                <div class="col-lg-12">
                                                    <div class="py-5">
                                                        <h1 class="heading heading-2 strong-600 text-normal c-white">
                                                            Our professional team will take care of your property!
                                                        </h1>
                                                        <p class="lead line-height-1_8 strong-300 c-white mt-3">

                                                        </p>

                                                        <p class="mt-3 c-white">
                                                            Browse through more than 200.000 properties to rent or sell. Contact our Team now!
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <p class="mt-3 c-white">
                                                            <br />
                                                            <br />
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span class="space-xs-lg"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-slide" data-swiper-autoplay="6000">
                                    <div class="slice--offset slice-lg sct-color-1 has-bg-cover bg-size-cover" style="background: url('../../assets/images/home/renting.jpg') center center;">
                                        <span class="mask mask-dark--style-2"></span>


                                        <div class="container relative">
                                            <div class="row text-md-left">
                                                <div class="col-lg-12">
                                                    <div class="py-5">
                                                        <h1 class="heading heading-2 strong-600 text-normal c-white">
                                                            Our professional team will take care of your property!
                                                        </h1>
                                                        <p class="lead line-height-1_8 strong-300 c-white mt-3">

                                                        </p>

                                                        <p class="mt-3 c-white">
                                                            Browse through more than 200.000 properties to rent or sell. Contact our Team now!
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <p class="mt-3 c-white">
                                                            <br />
                                                            <br />
                                                        </p>
                                                        &nbsp;
                                                        &nbsp;
                                                        <span class="space-xs-lg"></span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div style="background-color:#077684 !important" class="swiper-button swiper-button-next"></div>
                            <div style="background-color:#077684 !important" class="swiper-button swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END REVOLUTION SLIDER -->

    <section class="slice pb-0 sct-color-1">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Latest projects</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
            Start building fast, beautiful and modern looking Houses in no time .
        </div>
        <span class="space-xs-md"></span>
        <div class="container no-padding">
            <div class="row row-no-padding masonry">               
                <div class="masonry-item mb-0 col-lg-3 col-6  branding" ng-repeat="project in latestProjects">
                    <a href="#/projects/view/{{project.ProjectId}}/{{project.MediaFolderId}}">
                        <div class="block block--style-5 mb-0 no-radius">
                            <div class="block-image">
                               
                                    <img src="media/{{project.MediaForView.MediaId}}/{{project.MediaForView.Name}}" alt="{{project.Media.Name}}">
                                
                            </div>
                            <div class="block-mask-caption--over flex flex-items-xs-top">
                                <div class="">
                                    <div class="text-xs-left">
                                        <h3 class="heading heading-3 strong-500 c-gray-lighter">
                                            {{project.Title}}
                                        </h3>
                                        <h4 class="heading heading-xs strong-300 text-uppercase c-gray-lighter">
                                            {{project.Description}}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
        </div>
    </section>
    &nbsp;
    <section class="slice sct-color-2 border-top border-bottom">
        <div class="section-title section-title--style-1 text-center mb-2">
            <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                <span>Advertisements</span>
            </h3>
            <span class="section-title-delimiter clearfix d-none"></span>
        </div>
        <span class="clearfix"></span>
        
        <div class="container">

            <div class="row cols-md-space cols-sm-space cols-xs-space">
                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-1.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-yellow">For sale</span>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm strong-600">
                                <a href="#">
                                    3 bedroom house
                                </a>
                            </h3>
                            <p class="description">
                                3 bedroom house,plot 12 decimals mile land title available.
                            </p>
                        </div>
                      
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-2.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For rent</span>
                        </div>
                        <div class="block-body">
                            <h3 class="heading heading-sm strong-600">
                                <a href="#">
                                    2 bedroom house
                                </a>
                            </h3>
                            <p class="description">
                                2 bedroom house for rent at Manyangwa gayaza wakiso district.
                            </p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-3.jpg" class="img-fluid">
                                </a>
                                <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For rent</span>
                            </div>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm strong-600">
                                <a href="#">
                                    Short Stay Rental
                                                                </a>
                            </h3>
                            <p class="description">
                                2 units 2 bedrooms fully furnished rentals for short stay at Butikiro rd Mengo.
                            </p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="block block--style-3">
                        <div class="block-image relative">
                            <div class="view view-first">
                                <a href="#">
                                    <img src="../../assets/images/prv/real-estate/img-4.jpg" class="img-fluid">
                                </a>
                            </div>
                            <span class="block-ribbon block-ribbon-fixed block-ribbon-right bg-red">For rent</span>
                        </div>

                        <div class="block-body">
                            <h3 class="heading heading-sm strong-600">
                                <a href="#">
                                    Fully Furnished House
                                </a>
                            </h3>
                            <p class="description">
                                2bedroom fully furnished rental at butikiro road
                            </p>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice sct-color-2 border-top border-bottom">
        <div class="container">
            <div class="section-title section-title--style-1 text-center mb-4">
                <!--<h3 class="section-title-inner">
                    <span>Testimonials</span>
                </h3>-->
                <h3 class="section-title-inner heading-sm strong-600 text-uppercase">
                    <span>Testimonials</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>
            <div class="swiper-js-container">
                <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="1" data-swiper-sm-space-between="0" data-swiper-xs-items="1" data-swiper-xs-space-between="0">
                    <div class="swiper-wrapper">
                        <!-- Testimonial 1 -->

                        <div class="swiper-slide">
                            <div class="fluid-paragraph fluid-paragraph-md paragraph-lg strong-300 relative">
                                <div class="text-center">
                                    <p class="lead line-height-1_8 c-gray-light strong-300">
                                        "Thank you for all of your hard work on our project...I seriously don't know how you did it but it came together SO WELL. I know we are a particular bunch and want things a certain way but you guys did such an amazing job!"
                                    </p>
                                    <div class="text-center mt-5">
                                        <h3 class="heading heading-4 strong-600 mb-0">
                                            Sentongo Abdul Aziz
                                        </h3>
                                        <span class="heading heading-xs strong-400 text-normal">
                                            Cab Driver
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fluid-paragraph fluid-paragraph-md paragraph-lg strong-300 relative">
                                <div class="text-center">
                                    <p class="lead line-height-1_8 c-gray-light strong-300">
                                        "Thank you for guiding us through the facility management process, being kind, understanding, and always ready to accommodate our needs. We love the new looks of our new apartment and know that it was renovated by the very best!"
                                      </p>
                                    <div class="text-center mt-5">
                                        <h3 class="heading heading-4 strong-600 mb-0">
                                            Nalwoga Bettie
                                        </h3>
                                        <span class="heading heading-xs strong-400 text-normal">
                                            Accountant
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="fluid-paragraph fluid-paragraph-md paragraph-lg strong-300 relative">
                                <div class="text-center">
                                    <p class="lead line-height-1_8 c-gray-light strong-300">
                                        "SMW was truly a collaborative partner; working with us in a cost effective, efficient and quality construction products. The knowledge of the SMW team was truly a value add to the overall success of our build-out project. On time, on budget and we had fun!"
                                      </p>
                                    <div class="text-center mt-5">
                                        <h3 class="heading heading-4 strong-600 mb-0">
                                            Kamwesigye Lorand
                                        </h3>
                                        <span class="heading heading-xs strong-400 text-normal">
                                            Telecom Engineer
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button swiper-button-next"></div>
                    <div class="swiper-button swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div ng-include="'/app/views/_common/footer.html'"></div>

