<div ng-include="'/app/views/_common/nav.html'"></div>

<section class="background-image-holder" data-holder-type="fullscreen" data-holder-offset=".header">
    <div class="slice holder-item has-bg-cover bg-size-cover about" style="background-image: url('../../assets/images/backgrounds/slider/helmet2.jpg'); background-position: 30% 70%;">
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row cols-xs-space align-items-center">
                    <div class="col-lg-6">
                        <div class="dashboard">
                            <div class="page-title page-title--style-2 text-sm-left text-center">
                                <h1 class="heading heading-xxl strong-600 text-capitalize">
                                    SMW
                                </h1>
                                <p class="lead line-height-1_8 mt-4">
                                    We are a construction company catering for customers based in both Uganda and Diaspora
                                    <br />

                                </p>
                                <p class="lead line-height-1_8 mt-4">
                                    We specialise in all aspects of building construction including new domestic and commercial building, Conversions, extensions and refurbishment.
                                </p>
                                <ul class="social-media social-media--style-1-v4 mt-4">
                                    <li>
                                        <a href="#" class="facebook" target="_blank" data-toggle="tooltip" data-original-title="Facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <!--<li>
                                        <a href="#" class="instagram" target="_blank" data-toggle="tooltip" data-original-title="Instagram">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>-->
                                    <li>
                                        <a href="#" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/watch?v=7WNEJN07JQU" class="dribbble" target="_blank" data-toggle="tooltip" data-original-title="Youtube">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>

                                <a ui-sref="contact" class="btn btn-styled btn-base-1 btn-circle mt-4">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice-lg sct-color-1 border-top">
    <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-12 order-lg-2 ml-lg-auto">
                <h3 class="heading heading-2 strong-500 mb-4">
                    Welcome to SMW
                </h3>
                <p class="text-lg line-height-1_8">

                    We are a small building construction company catering for customers based in both Uganda and Diaspora.
                </p>
                <p class="text-lg line-height-1_8">
                    We specialise in all aspects of building construction including new domestic and commercial builds, conversions, extensions and refurbishment.
                </p>
                <p class="text-lg line-height-1_8">
                    As part of our construction service, we offer full building design service to our clients including, land surveying, architectural, structural, electrical, plumbing and mechanical services.
                </p>
                <p class="text-lg line-height-1_8">
                    In addition, SMW takes care of planning application issues associated with new builds.
                </p>
                <p class="text-lg line-height-1_8">
                    We also manufacture concrete products such as, culvets, paving products, etc under our parent company Mutec Construction, which has been operating since 1950.

                </p>
                <p class="text-lg line-height-1_8">
                    Well-maintained building or house creates the right impression, it attracts the right and high paying tenants and reduces operational costs. SMW provide maintenance service solutions tailed to suit clients' needs such as; holiday homes, rentals, commercial premises, etc.
                </p>
                <p class="text-lg line-height-1_8">
                    We take great pride in our reputation for customer satisfaction, delivering a high quality finished product on time and to budget. Our business is built on the recommendations and referrals of our past clients.
                </p>
            </div>
            
        </div>
    </div>
</section>
<section class="slice-xl sct-color-1 border-top">
    <div class="container">
        <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
            <div class="col-lg-5">
                <h3 class="heading heading-2 strong-500 mb-4">
                    Our Company Objectives
                </h3>
                <p class="text-lg line-height-1_8">
                    SMW aims to deliver outstanding results through effective practices and good work ethics, allowing us to meet and exceed client expectations.
                </p>
                <p class="text-lg line-height-1_8">
                    We seek to cultivate strong, long term working relationships built on mutual respect.
                </p>
                <p class="text-lg line-height-1_8">
                    To enable our business to grow and to improve the service we offer, we continually strive to up-skill and innovate.
                </p>
            </div>
            <div class="col-lg-6 ml-lg-auto">
                <div class="">
                    <div class="progress-wrapper">
                        <h4 class="progress-label text-uppercase strong-500">Construction</h4>
                        <!--@*<h4 class="progress-percentage text-uppercase strong-600">90%</h4>*@-->
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                        </div>
                    </div>
                    <div class="progress-wrapper mt-4">
                        <h4 class="progress-label text-uppercase strong-500">Property Management</h4>
                        <!--@*<h4 class="progress-percentage text-uppercase strong-600">75</h4>*@-->
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                    </div>
                    <div class="progress-wrapper mt-4">
                        <h4 class="progress-label text-uppercase strong-500">Facility Management</h4>
                        <!--@*<h4 class="progress-percentage text-uppercase strong-600">85</h4>*@-->
                        <div class="progress progress-sm">
                            <div class="progress-bar bg-base-1" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div ng-include="'/app/views/_common/footer.html'"></div>
